<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PDF Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='indexStyle.css') }}">
</head>

<body>

    <!-- Navbar -->
    <header>
        <nav class="navbar">
            <div class="logo">🎓 AI Research <span>Co-Pilot</span></div>
            <ul class="nav-links">
                <li><a href="{{ url_for('main.home') }}" class="active">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>



    <section class="summary-section">
        <h2>📄 AI Summary</h2>
        <div class="summary-box">
            <div class="summary-content">
                {{ summary|safe }}
            </div>

        </div>
        <a href="{{ url_for('main.home') }}" class="cta-btn">⬅ Back to Home</a>
    </section>
</body>

</html>